---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Title from "@components/Title.astro";
---

<BaseLayout title="Experiencia" sideBarActiveItemID="cv">
  <Title title="Perfil"/>

  <div class="mb-10 text-justify">
    Soy un apasionado desarrollador web e ingeniero de software con 3 años de experiencia en la creación de soluciones digitales innovadoras y eficientes. Mi enfoque se centra en el desarrollo de aplicaciones web robustas y escalables que mejoren la experiencia del usuario y optimicen procesos.
  </div>

  <Title title="Experiencia"/>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Desarrollador Fullstack: “Proyecto – Ojo celeste”"
      subtitle="Desde 01-2023 hasta 02-2023 en INVERSIONES Y SERVICIOS JOLG, Lima, Perú"
    >
Desarrollé módulos personalizados en Laravel para optimizar el proceso de facturación electrónica, asegurando el cumplimiento de normativas locales y mejorando la eficiencia operativa. Implementé funcionalidades avanzadas que permitieron la generación automatizada de facturas y la gestión de documentos tributarios, reduciendo el tiempo de procesamiento en un 30%. Colaboré con el equipo de diseño para crear una interfaz intuitiva y fácil de usar, mejorando la experiencia del usuario final. Además, realicé pruebas de calidad exhaustivas y documenté los procesos desarrollados, facilitando la capacitación del personal y la integración de nuevos miembros al equipo.
    </TimeLineElement>
    <TimeLineElement
      title="Analista programador: Proyectos - MultiPage Emilima, Parking PDE, HelpDesk"
      subtitle="Desde 07-2022 hasta 10-2022 en EMILIMA, Lima, Perú"
    >
En el marco de varios proyectos clave, desarrollé y mantuve la página principal de Emilima, optimizando su rendimiento y experiencia de usuario. En el sistema Parking PDE, implementé funcionalidades que permiten gestionar y monitorear las horas de estacionamiento, facilitando la administración eficiente de los espacios. Además, diseñé el sistema HelpDesk para distribuir y gestionar los problemas internos de los sistemas de la empresa, lo que mejoró la respuesta y resolución de incidencias. Colaboré en la integración de estas soluciones, asegurando la compatibilidad con los procesos existentes y realizando pruebas para garantizar su correcto funcionamiento.    </TimeLineElement>
    <TimeLineElement
      title="Analista programador: Proyectos - CMA, Entradas Lima, Compromisos con la ciudad MML"
      subtitle="Desde 02-2021 hasta 06-2022 en PISCO TECHNOLOGIES, Lima, Perú"
    >
En el proyecto CMA (Circuito Mágico del Agua), lideré la creación de la página web desde cero, desarrollando una plataforma interactiva que destaca la belleza y la cultura del evento. En el proyecto "Compromisos con la Ciudad MML", colaboré en el diseño y la implementación de una campaña digital especial para promocionar los compromisos entre Estados Unidos y Perú, mejorando la visibilidad y el alcance del evento. Mi labor incluyó la integración de funcionalidades dinámicas y una experiencia de usuario fluida, garantizando el cumplimiento de los requisitos del cliente y contribuyendo al éxito de ambas iniciativas.
    </TimeLineElement>
    <TimeLineElement
      title="Asistente Logistico: Gaming House Mall del Sur"
      subtitle="Desde 01-2020 hasta 02-2020 en PISCO TECHNOLOGIES, Lima, Perú"
    >
En mi rol como Asistente Logístico para la Gaming House en Mall del Sur, gestioné la coordinación de inventarios y el suministro de recursos necesarios para el funcionamiento del espacio. Colaboré en la organización de eventos y competiciones, asegurando que todos los equipos y materiales estuvieran disponibles y en óptimas condiciones. Además, mantuve una comunicación efectiva con proveedores y personal interno, lo que permitió optimizar los procesos logísticos y mejorar la experiencia de los asistentes.
    </TimeLineElement>
  </div>

  <Title title="Certificaciones"/>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <Title title="Skills"/>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
