---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="Inicio">
  <div class="pb-12 mt-5 w-100vh">
    <div class="text-5xl font-bold">Junior Pezantes</div>
    <div class="text-3xl py-3 font-bold">Ingeniero de software & desarrollador fullstack</div>
    <div class="py-2">
      <text class="text-lg">
        Diseño y desarrollo servicios para clientes de todos los tamaños, especializándome en la creación de sitios web, servicios web y tiendas en línea modernos y elegantes.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Descargar CV</a>
    </div>
  </div>
</BaseLayout>
